/Application.class
/Command.class
/Connection.class
/CreateCommand.class
/LoginCommand.class
/Message.class
/QuitCommand.class
/SendCommand.class
/Server.class
/User.class
/Users.class
/.classpath
/.project